/* Texto info del producto */
.caractproducto h2 {
   font-size: 2.5em;
   font-weight: 600;
   margin: 30px 0 10px 0;
}

#precio {
    margin-top: 14%;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 4px 13px;
    width: 45%;
    border-radius: 10px;
}

/* Info del producto con su imagenes */
.product-container {
    background-color: white;
}

.caractproducto {
    float: right;
}


.product-images {
    display: flex;
    float: left;
    margin-top: 30px;
}

.principal-image {
    float: right;
    flex-grow: 1;
    padding: 0.6%;
    margin-left: -1%;
}

#main-image {
    width: 100%;
}

.miniatura-images {
    float: left;
    margin-left: 10%;
    padding: 1% 2% 1% 1%;
    width: 21%;
}

.miniatura {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    cursor: pointer;
    border: 1px solid #ddd;
}

.miniatura:hover {
    border: 1px solid #333;
}

/* Separacion ---------------------------------------*/
hr {
    display: flex;
    justify-content: flex-end;
}

/* Comentarios */
h4 {
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
}

.tucomentario{
    color: white;
    background-color: #0f0f0f;
    padding: 40px;
    border-radius: 3px;
}
.comentarios-container {
    padding-top: 70px;
    
}

label{
    color: rgb(147, 197, 255);
    text-align: left;
}

#comentarios {
    float: left;
}

.tucomentario {
    float: right;
}

#comment{
    background-color: #333;
    border-color: #00000048;
    border-radius: 5px;
    padding: 5px 9px;
}

.star-rating {
    font-size: 0; /* Elimina el espacio entre los elementos inline */
}

.star {
    font-size: 24px; /* Tamaño de las estrellas */
    color: gray; /* Color de las estrellas no seleccionadas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.star.active {
    color: gold; /* Color de las estrellas seleccionadas */
}

@media only screen and (max-width: 1199px) {
    [class*="col-"] {
        width: 100%;
    }

    .product-images {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .caractproducto {
        margin-left: 10%;
        float: none;
        width: 100%;
    }
    
    #precio {
        margin-top: 3%;
    }
}