/* Texto info del producto */
.caractproducto h2 {
   font-size: 2.5em;
   font-weight: 600;
   margin: 30px 0 10px 0;
}

#precio {
    margin: 100px 0 30px 0;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 4px 13px;
    width: 45%;
    border-radius: 10px;
}

/* Info del producto con su imagenes */
.product-container {
    background-color: white;
}

.caractproducto {
    float: right;
}


.product-images {
    display: flex;
    float: left;
}

.principal-image {
    flex-grow: 1;
    padding: 20px;
    margin-left: -10px;
    
}

#main-image {
    width: 600px;
}

.miniatura-images {
    margin: 20px 0 0 10px;
    padding: 10px;
}

.miniatura {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.miniatura:hover {
    border: 1px solid #333;
}

/* Separacion */
hr {
    display: flex;
    justify-content: flex-end;
}

/* Comentarios */
.comentarios-container {
    padding-top: 70px;
    
}

#comentarios {
    float: left;
}

.tucomentario {
    float: right;
}


#puntos {
    border: none;
}


.star-rating {
    font-size: 0; /* Elimina el espacio entre los elementos inline */
}

.star {
    font-size: 24px; /* Tamaño de las estrellas */
    color: gray; /* Color de las estrellas no seleccionadas */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.star.active {
    color: gold; /* Color de las estrellas seleccionadas */
}
